*{
   padding: 0;
   margin: 0; 
}
header{
    background-color: #000000;
    padding: 30px 0;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;   
}

nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}
/* cabeçalho*/
.butao{
    padding: 10px 8px;
    width: 90px;
    border: 2px solid #000000;
    border-radius: 20px;
    color: #000000;
    background-color: #00000013;
    cursor: pointer;
    text-align: center;
    user-select: none;
}
.butao:hover{
    background-color:#0000003d;
    transition: background 1s;
}
.produtos{
    text-align: left;
    border: 2px solid #000000;
}
.shampoo{
    font-weight: bold;
    font-size: large;
    color: white;
    background-color: rgba(255, 255, 255, 0.359);
    position: relative;
    right: auto;
    text-align: left;
    border: 2px solid #000000;
    border-radius: 20px;
    padding: 20px 20px;
    margin:20px 20px;
}
.tesoura{
    font-weight: bold;
    font-size: large;
    color: white;
    background-color: rgba(255, 255, 255, 0.468);
    text-align: left;
    border: 2px solid #000000;
    border-radius: 20px;
    padding: 20px 20px;
    margin: 20px 20px;
}
.cabelo{
    font-weight: bold;
    font-size: large;
    color: white;
    background-color: rgba(255, 255, 255, 0.468);
    text-align: left;
    border: 2px solid #000000;
    border-radius: 20px;
    padding: 20px 20px;
    margin: 20px 20px;
}
.pezinho{
    font-weight: bold;
    font-size: large;
    color: white;
    background-color: rgba(255, 255, 255, 0.468);
    text-align: left;
    border: 2px solid #000000;
    border-radius: 20px;
    padding: 20px 20px;
    margin: 20px 20px;
}
.burri{
    font-weight: bold;
    font-size: large;
    color: white;
    background-color: rgba(255, 255, 255, 0.468);
    text-align: left;
    border: 2px solid #000000;
    border-radius: 20px;
    padding: 20px 20px;
    margin:20px 20px;
}
.produto-preco{
    padding: 10px 8px;
    font-size: 25px;
}
.barbearia{
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    gap: 20px;
}

.barbearia>li {
    width: 350px;
    display: flex;
    padding: 30px 30px;
    height: 500px;
}

footer{
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px 10px;
    font-size: 30px;
}
main{
    background-image: url(Img/barbearia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



